header {
    background-color: midnightblue;
    color: white;
    font-size: 40px;
    height: 60px;
}

div.selectpage {
    background-color: midnightblue;
    color: white;
    width: 100px;
    height: 500px;
    margin: 2px;
    border: solid grey;
    border-width: 5px;
    float: left;
}

a.selectscreen {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a.contactscreen {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

div.content {
    position: relative;
    float: left;
}